.dashboardSection {
    .dashboardContainer {
        background-color: rgb(245, 245, 245);
        padding-block-start: 40px;

        .dashboardHeading {
            margin-left: 83px;
        }

        .dashboardNavbar {
            display: flex;
            justify-content: center;
            align-items: center;

            gap: 20px;

            .dashboardSearch {
                width: 50%;

                form {
                    input {
                        padding: 10px;
                        width: 80%;
                        border: none;
                        border-radius: 10px;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;

                        &:focus {
                            outline: none;
                        }
                    }

                    button {
                        border: none;
                        padding: 10px;
                        width: 105px;
                        border-radius: 10px;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;

                        transition: all 0.3s ease-in-out;

                        &:hover {
                            cursor: pointer;
                            background-color: rgb(193, 193, 193);
                            color: white;
                        }
                    }


                    border: 1px solid black;
                    border-radius: 10px;
                }
            }

            .dashboardUpload {
                button {
                    padding: 10px;
                    width: 105px;
                    border-radius: 10px;
                    background-color: rgb(75, 75, 252);
                    border: rgb(75, 75, 252) 1px solid;
                    color: white;

                    transition: all 0.3s ease-in-out;

                    &:hover {
                        cursor: pointer;
                        background-color: white;
                        color: rgb(75, 75, 252);
                    }
                }
            }
        }

        .dashboardVideos {
            width: 1094px;
            margin: 0 auto;

            .dashboardVideosContainer {
                display: flex;
                align-items: center;
                width: 1094px;
                gap: 20px;
                margin: 40px 0;
                flex-wrap: wrap;

                .dashboardVideoContainerSection {
                    display: flex;
                    align-items: center;
                    margin-block: 10px;
                }
            }
        }
    }
}

.successMessageOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    .successMessage {
        background-color: #fff;
        padding: 30px;
        border-radius: 10px;
        width: 400px;
        text-align: center;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);

    }
}